# NEWS notebook 2 BERT, DataFrame Creation of words, nouns, verbs, adjectives, and one for location

In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import spacy
from wordcloud  import STOPWORDS
from datetime import datetime, timedelta
from collections import defaultdict, Counter
from sentence_transformers import SentenceTransformer

In [2]:
# Load English tokenizer, tagger, parser and NER
nlp = spacy.load('en_core_web_md')

In [3]:
pd.options.display.max_colwidth = 300

In [4]:
# create a set of stopwords
stopwords = set(STOPWORDS)

In [5]:
# load the data
data = pd.read_csv("C:/Users/Meyke/Documents/news.csv/newsExtended.csv", index_col='Unnamed: 0')

In [6]:
data.head()

,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP,DateTime,month,weekday,...,date,transcript,countWords,countLetters,CountStory,AvgLengthWords,CountStopwords,nouns,verbs,adjectives
0,"Fed official says weak data caused by weather, should not slow taper","http://www.latimes.com/business/money/la-fi-mo-federal-reserve-plosser-stimulus-economy-20140310,0,1312750.story\?track=rss",Los Angeles Times,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.latimes.com,1394470370698,2014-03-10 16:52:50.698,3,0,...,2014-03-10 00:00:00.000,Fed official say weak datum cause weather slow taper,12,123,6,4.583333,3,fed official datum weather taper,say cause slow,weak
1,Fed's Charles Plosser sees high bar for change in pace of tapering,http://www.livemint.com/Politics/H2EvwJSK2VE6OF7iK1g3PP/Feds-Charles-Plosser-sees-high-bar-for-change-in-pace-of-ta.html,Livemint,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.livemint.com,1394470371207,2014-03-10 16:52:51.207,3,0,...,2014-03-10 00:00:00.000,Fed Charles Plosser see high bar change pace taper,12,120,6,4.083333,3,fed charles plosser bar change pace,see taper,high
2,"Fed risks falling 'behind the curve', Charles Plosser says",http://www.ifamagazine.com/news/fed-risks-falling-behind-the-curve-charles-plosser-says-294430,IFA Magazine,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.ifamagazine.com,1394470371793,2014-03-10 16:52:51.793,3,0,...,2014-03-10 00:00:00.000,Fed risk fall behind curve Charles Plosser say,9,94,6,4.666667,1,fed curve charles plosser,risk fall say,NaN
3,Fed's Plosser: Nasty Weather Has Curbed Job Growth,http://www.moneynews.com/Economy/federal-reserve-charles-plosser-weather-job-growth/2014/03/10/id/557011,Moneynews,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.moneynews.com,1394470372027,2014-03-10 16:52:52.027,3,0,...,2014-03-10 00:00:00.000,Fed Plosser Nasty Weather Curbed Job growth,8,104,6,5.125000,1,fed plosser nasty weather curbed job growth,NaN,NaN
4,Fed's Plosser: Taper pace may be too slow,http://www.marketwatch.com/story/feds-plosser-taper-pace-may-be-too-slow-2014-03-10\?reflink=MW_news_stmp,MarketWatch,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.marketwatch.com,1394470372405,2014-03-10 16:52:52.405,3,0,...,2014-03-10 00:00:00.000,Fed Plosser taper pace may slow,8,105,6,3.875000,2,fed plosser taper pace,NaN,slow

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 281876 entries, 0 to 281875
Data columns (total 22 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   TITLE           281876 non-null  object
 1   URL             281876 non-null  object
 2   PUBLISHER       281875 non-null  object
 3   CATEGORY        281876 non-null  object
 4   STORY           281876 non-null  object
 5   HOSTNAME        281876 non-null  object
 6   TIMESTAMP       281876 non-null  int64
 7   DateTime        281876 non-null  object
 8   month           281876 non-null  int64
 9   weekday         281876 non-null  int64
 10  weekday_N       281876 non-null  object
 11  month_N         281876 non-null  object
 12  date            281876 non-null  object
 13  transcript      281847 non-null  object
 14  countWords      281876 non-null  int64
 15  countLetters    281876 non-null  int64
 16  CountStory      281876 non-null  int64
 17  AvgLengthWords  281876 non-null  float64
 18  CountStopwords  281876 non-null  int64
 19  nouns           281563 non-null  object
 20  verbs           212359 non-null  object
 21  adjectives      105585 non-null  object
dtypes: float64(1), int64(7), object(14)
memory usage: 49.5+ MB

In [8]:
data.tail()

,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP,DateTime,month,weekday,...,date,transcript,countWords,countLetters,CountStory,AvgLengthWords,CountStopwords,nouns,verbs,adjectives
281871,IPCC WGIII highlights need for deep and fast cuts in CO2 emissions,http://www.eco-business.com/press-releases/ipcc-wgiii-highlights-need-for-deep-and-fast-cuts-in-co2-emissions/,eco-business.com,t,dPhzj-Zymt7_2fMuSkTFhziYo3U0M,www.eco-business.com,1397513728621,2014-04-14 22:15:28.621,4,0,...,2014-04-14 00:00:00.000,IPCC WGIII highlight need deep fast cut emission,12,110,147,4.454545,3,ipcc wgiii highlight cut emission,need,deep fast
281872,"Cost of fighting warming 'modest,' U.N. panel says",http://www.philly.com/philly/news/nation_world/20140414_Cost_of_fighting_warming__modest___U_N__panel_says.html,Philly.com,t,dPhzj-Zymt7_2fMuSkTFhziYo3U0M,www.philly.com,1397513728814,2014-04-14 22:15:28.814,4,0,...,2014-04-14 00:00:00.000,cost fight warm modest panel say,8,111,147,4.142857,1,cost panel,fight warm say,modest
281873,Fracking may curb global warming: UN climate change report,http://www.delhidailynews.com/news/Fracking-may-curb-global-warming--UN-climate-change-report-1397458938/,Delhi Daily News,t,dPhzj-Zymt7_2fMuSkTFhziYo3U0M,www.delhidailynews.com,1397513729066,2014-04-14 22:15:29.066,4,0,...,2014-04-14 00:00:00.000,fracking may curb global warming UN climate change report,9,105,147,5.444444,0,fracking warming un climate change report,curb,global
281874,U.N.: Cost of fighting global warming 'relatively modest' for now,http://www.spokesman.com/stories/2014/apr/14/un-warming-fight-cost-modest/,The Spokesman Review,t,dPhzj-Zymt7_2fMuSkTFhziYo3U0M,www.spokesman.com,1397513729234,2014-04-14 22:15:29.234,4,0,...,2014-04-14 00:00:00.000,cost fight global warming relatively modest now,10,74,147,5.111111,2,cost warming,fight,global modest
281875,"U.S. urges IPCC to be less boring, try this whole online thing",http://grist.org/news/u-s-urges-ipcc-to-be-less-boring-try-this-whole-online-thing/,Grist,t,dPhzj-Zymt7_2fMuSkTFhziYo3U0M,grist.org,1397513729438,2014-04-14 22:15:29.438,4,0,...,2014-04-14 00:00:00.000,urge IPCC less boring try whole online thing,12,83,147,4.090909,3,ipcc thing,urge try,boring whole online

### BERT

In [9]:
model = SentenceTransformer('bert-base-nli-mean-tokens')

In [10]:
sentences = data['TITLE'].to_list()

In [11]:
# Create sentence embeddings
sentence_embeddings = model.encode(sentences)

In [12]:
sentence_embeddings.shape

(281876, 768)

In [13]:
type(sentence_embeddings)

numpy.ndarray

### Creating seperate dataframe for BERT

In [14]:
data_BERT = data[['CATEGORY']]

In [15]:
BERTje = pd.DataFrame(sentence_embeddings)

In [16]:
BERTje.head()

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.123184,0.314224,1.178321,0.227920,-0.130053,0.207202,1.720646,0.341906,0.170075,-0.315964,...,-0.185461,-0.008025,-0.973882,-1.887912,-0.530017,-0.338021,0.303847,0.330165,-0.772222,0.038154
1,0.312030,-0.086934,1.298646,0.502199,0.335360,-0.427817,-0.542621,0.100433,0.183760,-0.420845,...,0.170046,-1.471659,-1.213386,-0.761715,0.215299,-0.149172,-0.459448,-0.315940,-0.034474,-0.537708
2,0.031245,0.234081,1.128462,0.357528,0.421785,0.362982,0.218801,0.263580,0.515497,-0.013069,...,-0.153627,0.056292,-0.379151,-1.113638,-0.289863,-0.138017,-0.216099,-0.514780,-0.651131,0.205884
3,-0.208706,0.421767,0.065047,0.297076,-0.518979,-0.009057,0.602821,0.745488,-0.065199,-0.216208,...,0.084331,0.000345,-1.077496,-1.783692,0.598225,-0.540466,-0.284278,0.014319,-0.049298,-0.262189
4,0.256900,-0.476943,1.211914,0.701770,-0.237495,0.599390,0.126353,0.248021,0.720929,-0.165409,...,-0.125950,-0.044432,-0.601060,-1.836707,-0.074476,-0.405845,-0.377109,0.290246,-0.445980,0.096147

In [17]:
data_BERT = data_BERT.join(BERTje.set_index(data_BERT.index))

In [18]:
data_BERT.head()

,CATEGORY,0,1,2,3,4,5,6,7,8,...,758,759,760,761,762,763,764,765,766,767
0,b,0.123184,0.314224,1.178321,0.227920,-0.130053,0.207202,1.720646,0.341906,0.170075,...,-0.185461,-0.008025,-0.973882,-1.887912,-0.530017,-0.338021,0.303847,0.330165,-0.772222,0.038154
1,b,0.312030,-0.086934,1.298646,0.502199,0.335360,-0.427817,-0.542621,0.100433,0.183760,...,0.170046,-1.471659,-1.213386,-0.761715,0.215299,-0.149172,-0.459448,-0.315940,-0.034474,-0.537708
2,b,0.031245,0.234081,1.128462,0.357528,0.421785,0.362982,0.218801,0.263580,0.515497,...,-0.153627,0.056292,-0.379151,-1.113638,-0.289863,-0.138017,-0.216099,-0.514780,-0.651131,0.205884
3,b,-0.208706,0.421767,0.065047,0.297076,-0.518979,-0.009057,0.602821,0.745488,-0.065199,...,0.084331,0.000345,-1.077496,-1.783692,0.598225,-0.540466,-0.284278,0.014319,-0.049298,-0.262189
4,b,0.256900,-0.476943,1.211914,0.701770,-0.237495,0.599390,0.126353,0.248021,0.720929,...,-0.125950,-0.044432,-0.601060,-1.836707,-0.074476,-0.405845,-0.377109,0.290246,-0.445980,0.096147

In [19]:
data_BERT.to_csv("C:/Users/Meyke/Documents/news.csv/news_BERT.csv")

### Word per STORY

In [20]:
StoryList = data['STORY'].tolist()

In [21]:
StoryList1 = list(set(StoryList))

In [22]:
len(StoryList)

281876

#### Create dict with most important nouns per story

In [23]:
data['nouns'] = data['nouns'].fillna('')

In [24]:
StoryDict = defaultdict(int)

def createDictOfDicts(StoryList):
    for i in range(len(StoryList)):
        #print(i)
        
        # Get story of row
        story = data['STORY'].loc[i]
        
        # Create doc
        if data['nouns'].iloc[200] == data['nouns'].iloc[200]:
            doc = data['nouns'].iloc[i]

            if story in StoryDict:
                # Story has been created within StoryDict
                for word in doc.split():
                    if word in StoryDict[story]:
                        StoryDict[story][word] += 1
                    else:
                        StoryDict[story][word] = 1
            else:
                # Story dict will be created
                for word in doc.split():
                    StoryDict[story] = {}
                    StoryDict[story][word] = 1

In [25]:
createDictOfDicts(StoryList)

In [26]:
print(StoryDict['dbv9PmVUGQso2KMtqlMiVZ-EPu8JM'])

0

In [27]:
data[data['STORY']=='dbv9PmVUGQso2KMtqlMiVZ-EPu8JM']['nouns']

46752
46753
46754
46755
Name: nouns, dtype: object

In [28]:
data.iloc[46752:46756]

,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP,DateTime,month,weekday,...,date,transcript,countWords,countLetters,CountStory,AvgLengthWords,CountStopwords,nouns,verbs,adjectives
46752,Being too thin more deadly than being too fat,http://www.emaxhealth.com/11400/being-too-thin-more-deadly-being-too-fat,eMaxHealth,m,dbv9PmVUGQso2KMtqlMiVZ-EPu8JM,www.emaxhealth.com,1396240948522,2014-03-31 04:42:28.522,3,0,...,2014-03-31 00:00:00.000,thin deadly fat,9,72,4,3.444444,6,,NaN,thin deadly fat
46753,Being too thin is deadlier than being too fat,http://www.examiner.com/article/being-too-thin-is-deadlier-than-being-too-fat,Examiner.com,m,dbv9PmVUGQso2KMtqlMiVZ-EPu8JM,www.examiner.com,1396240948724,2014-03-31 04:42:28.724,3,0,...,2014-03-31 00:00:00.000,thin deadly fat,9,77,4,3.222222,6,,NaN,thin deadly fat
46754,Underweight is Equally Dangerous As Obese,http://www.thewestsidestory.net/2014/03/30/underweight-equally-dangerous-obese/,The Westside Story,m,dbv9PmVUGQso2KMtqlMiVZ-EPu8JM,www.thewestsidestory.net,1396240949110,2014-03-31 04:42:29.110,3,0,...,2014-03-31 00:00:00.000,underweight equally dangerous obese,6,79,4,6.000000,2,,NaN,underweight dangerous obese
46755,Underweight even deadlier than overweight,http://m.klfy.com/display/10255/story/4b4d955a56451572623ac64108b22565,KLFY,m,dbv9PmVUGQso2KMtqlMiVZ-EPu8JM,m.klfy.com,1396240949328,2014-03-31 04:42:29.328,3,0,...,2014-03-31 00:00:00.000,underweight even deadly overweight,5,70,4,7.000000,1,,NaN,deadly overweight

In [29]:
# New empty dict
MostCommonNounsPerStory = {}

# Get top 3 nouns per story, add to MostCommonNounsPerStory
for story in StoryList1:
    #print(story, StoryDict[story])
    if StoryDict[story] != 0:
        storyCounter = Counter(StoryDict[story])
        MostCommonNounsPerStory[story] = []
        for k,v in storyCounter.most_common(3):
            if k not in MostCommonNounsPerStory[story]:
                MostCommonNounsPerStory[story].append(k)
                for key, value in storyCounter.items():
                    if v == value:
                        if key not in MostCommonNounsPerStory[story]:
                            MostCommonNounsPerStory[story].append(key)

##### Create column for top 3 nouns per STORY

In [30]:
data['nounsPerStory'] = data.apply(lambda row: MostCommonNounsPerStory[row.STORY] if row.STORY in MostCommonNounsPerStory.keys() else [], axis=1 )

##### Create a dict with most important verbs per story

In [31]:
data['verbs'] = data['verbs'].fillna('')

In [32]:
StoryDictVerb = defaultdict(int)

def createDictOfDicts2(StoryList):
    for i in range(len(StoryList)):
        #print(i)
        
        # Get story of row
        story = data['STORY'].loc[i]
        
        # Create doc
        if data['verbs'].iloc[i] == data['verbs'].iloc[i]:
            doc = data['verbs'].iloc[i]

            if story in StoryDictVerb:
                # Story has been created within StoryDict
                for word in doc.split():
                    if word in StoryDictVerb[story]:
                        StoryDictVerb[story][word] += 1
                    else:
                        StoryDictVerb[story][word] = 1
            else:
                # Story dict will be created
                for word in doc.split():
                    StoryDictVerb[story] = {}
                    StoryDictVerb[story][word] = 1

In [33]:
createDictOfDicts2(StoryList)

In [34]:
# New empty dict
MostCommonVerbsPerStory = {}

# Get top 3 nouns per story, add to MostCommonNounsPerStory
for story in StoryList1:
    #print(story, StoryDict[story])
    if StoryDictVerb[story] != 0:
        storyCounter = Counter(StoryDictVerb[story])
        MostCommonVerbsPerStory[story] = []
        for k,v in storyCounter.most_common(2):
            if k not in MostCommonVerbsPerStory[story]:
                #extra check for not adding 1 values
                if v != 1:
                    MostCommonVerbsPerStory[story].append(k)
                    for key, value in storyCounter.items():
                        if v == value:
                            if key not in MostCommonVerbsPerStory[story]:
                                #extra check for not adding 1 values
                                if v != 1:
                                    MostCommonVerbsPerStory[story].append(key)

##### Create column for top 2 verbs per STORY

In [35]:
data['verbsPerStory'] = data.apply(lambda row: MostCommonVerbsPerStory[row.STORY] if row.STORY in MostCommonVerbsPerStory.keys() else [], axis=1 )

##### Create a dict with most important adjectives per story

In [36]:
data['adjectives'] = data['adjectives'].fillna('')

In [37]:
StoryDictAdj = defaultdict(int)

def createDictOfDicts3(StoryList):
    for i in range(len(StoryList)):
        #print(i)
        
        # Get story of row
        story = data['STORY'].loc[i]
        
        # Create doc
        if data['adjectives'].iloc[i] == data['adjectives'].iloc[i]:
            doc = data['adjectives'].iloc[i]

            if story in StoryDictAdj:
                # Story has been created within StoryDict
                for word in doc.split():
                    if word in StoryDictAdj[story]:
                        StoryDictAdj[story][word] += 1
                    else:
                        StoryDictAdj[story][word] = 1
            else:
                # Story dict will be created
                for word in doc.split():
                    StoryDictAdj[story] = {}
                    StoryDictAdj[story][word] = 1

In [38]:
createDictOfDicts3(StoryList)

In [39]:
# New empty dict
MostCommonAdjPerStory = {}

# Get top 3 nouns per story, add to MostCommonNounsPerStory
for story in StoryList1:
    #print(story, StoryDict[story])
    if StoryDictAdj[story] != 0:
        storyCounter = Counter(StoryDictAdj[story])
        MostCommonAdjPerStory[story] = []
        for k,v in storyCounter.most_common(3):
            if k not in MostCommonAdjPerStory[story]:
                #extra check for not adding 1 values
                if v != 1:
                    MostCommonAdjPerStory[story].append(k)
                    for key, value in storyCounter.items():
                        if v == value:
                            if key not in MostCommonAdjPerStory[story]:
                                #extra check for not adding 1 values
                                if v != 1:
                                    MostCommonAdjPerStory[story].append(key)

##### Create column for top 3 adjectives per STORY

In [40]:
data['adjectivesPerStory'] = data.apply(lambda row: MostCommonAdjPerStory[row.STORY] if row.STORY in MostCommonAdjPerStory.keys() else [], axis=1 )

##### Create a dict with most important words per story

In [41]:
data[data['transcript'].isna()]

,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP,DateTime,month,weekday,...,countLetters,CountStory,AvgLengthWords,CountStopwords,nouns,verbs,adjectives,nounsPerStory,verbsPerStory,adjectivesPerStory
11992,From ColumbusAlive.com,http://www.dispatch.com/content/stories/business/2014/03/17/new-gm-recall-airbags.html,Columbus Dispatch,t,d6-icvZPxWpK-tMtoEJwvm4TfcLjM,www.dispatch.com,1395162033561,2014-03-18 17:00:33.561,3,1,...,86,35,4.000000,1,,,,"[gm, recall, general, motors]","[recall, say]","[more, new, terrible, wrong]"
14510,How To,http://www.pcadvisor.co.uk/how-to/gadget/3507451/how-set-up-chromecast/,PC Advisor,t,dRuzABtOXMAFl_M9gciZy6UH4Pl9M,www.pcadvisor.co.uk,1395233634163,2014-03-19 12:53:54.163,3,2,...,71,76,2.500000,2,,,,"[chromecast, google, uk]","[launch, come]","[available, new, additional]"
17291,From ColumbusAlive.com,http://www.dispatch.com/content/stories/business/2014/03/19/0319-US-announces-$1-2B-Toyota-settlement.html,Columbus Dispatch,t,dhtt6e_rEUbtXXMK83zozijEyPzbM,www.dispatch.com,1395324852790,2014-03-20 14:14:12.790,3,3,...,106,78,4.000000,1,,,,"[toyota, probe, us]","[pay, settle]","[criminal, unintended, sudden]"
28898,From ColumbusAlive.com,http://www.dispatch.com/content/stories/national_world/2014/03/25/nwr-top-0325-gh6rmvv4-1.html,Columbus Dispatch,e,dK4EnZnGlZVkYmMDoWP7Xcd1kcgsM,www.dispatch.com,1395779574694,2014-03-25 20:32:54.694,3,1,...,94,14,4.000000,1,,,,"[pritzker, shigeru, ban]","[win, go]","[top, japanese]"
29774,From ColumbusAlive.com,http://www.dispatch.com/content/stories/business/2014/03/25/0325-Wal-Mart-recalling-174000-dolls-over-burn-risk.html,Columbus Dispatch,b,detY5fIbUMi730MTruKkyGvQuGn5M,www.dispatch.com,1395827460655,2014-03-26 09:51:00.655,3,2,...,116,26,4.000000,1,,,,"[doll, walmart, wal, mart]","[recall, burn]",[]
31468,Also in WSJ.com:,http://stream.wsj.com/story/latest-headlines/SS-2-63399/SS-2-491198/,Wall Street Journal,b,dRJ9R19fkRcqH5M6LHvBUN7uBz8UM,stream.wsj.com,1395879508761,2014-03-27 00:18:28.761,3,3,...,68,109,3.000000,2,,,,"[bitcoin, irs, property]","[say, tax]","[taxable, virtual, bitcoin]"
46408,Then',"http://www.ew.com/ew/article/0,,20364394_20801613,00.html",Entertainment Weekly,e,dxOKfOqyYaNmfGMM4PSnqvw4sKorM,www.ew.com,1396238176885,2014-03-31 03:56:16.885,3,0,...,57,9,4.000000,1,,,,"[review, menzel, theater, idina]","[shine, go]",[sloppy]
47160,From ColumbusAlive.com,http://www.dispatch.com/content/stories/business/2014/03/31/0331-Lufthansa-cancels-3800-flights-due-to-strike.html,Columbus Dispatch,b,dd1SEiclV3ETmTMUJFBXixTD6gytM,www.dispatch.com,1396285196026,2014-03-31 16:59:56.026,3,0,...,114,23,4.000000,1,,,,"[lufthansa, strike, flight]","[cancel, loom, strike]",[due]
54934,Amazon.com,http://news.investors.com/040114-695511-amazoncom.htm,Investor's Business Daily,e,djSkxbPe88gS5fMDOs3e6HjvW8nnM,news.investors.com,1396440320833,2014-04-02 12:05:20.833,4,2,...,53,22,0.000000,0,,,,"[amazon, prime, streaming]","[live, snag, include, stream, take]",[exclusive]
57795,Cinematic'Marvel',http://www.globaltimes.cn/content/852973.shtml,Global Times,e,dUffMDiH6kEQsxM5Om71z_ls0vTEM,www.globaltimes.cn,1396883843898,2014-04-07 15:17:23.898,4,0,...,46,104,0.000000,0,,,,"[captain, america, winter]","[set, break]","[new, big, top]"
59096,More From KTVZ.COM,http://www.ktvz.com/news/money/Ford-recalls-435-000-vehicles/25363246,KTVZ,t,dFXfwFK4TPbZ2RMtA4HZ8gwGR9ixM,www.ktvz.com,1396934086210,2014-04-08 05:14:46.210,4,1,...,69,47,4.000000,2,,,,"[ford, vehicle, seat, car, suv]","[recall, fix]","[rusting, more, faulty]"
63971,From ColumbusAlive.com,http://www.dispatch.com/content/stories/business/2014/04/10/0410-Family-Dollar-to-cut-jobs-close-about-370-stores.html,Columbus Dispatch,b,d4vDsGEKfEr5eSM1KYdmgSwtbh4tM,www.dispatch.com,1397226606637,2014-04-11 14:30:06.637,4,4,...,118,63,4.000000,1,,,,"[dollar, family, store]","[close, cut]","[close, low, underperforming]"
109217,And Then,http://www.domain-b.com/people/in_the_news/20140425_gundotra.html,domain-B,t,d9nctVfLMh4au6M2qHT-XAJZR4czM,www.domain-b.com,1398464267368,2014-04-25 22:17:47.368,4,4,...,65,34,3.500000,2,,,,"[google, gundotra, vic]","[leave, die]","[social, dead]"
114627,From ColumbusAlive.com,http://www.dispatch.com/content/stories/business/2014/04/29/0429-Mercedes-recalls-over-284000-cars-to-fix-lights.html,Columbus Dispatch,t,dDao0V2p9INtz2M0_e60VrdW_hogM,www.dispatch.com,1398853716769,2014-04-30 10:28:36.769,4,2,...,117,71,4.000000,1,,,,"[mercedes, class, benz]","[recall, fix]","[new, more]"
147324,We are OVER IT!,http://www.jamaicaobserver.com/lifestyles/We-are-OVER-IT-_16674335,Jamaica Observer,e,d985tsOdK2HelwMGfCMko9vBdYfWM,www.jamaicaobserver.com,1400521814179,2014-05-19 17:50:14.179,5,0,...,66,103,2.500000,4,,,,"[jay, z, beyonce]","[watch, run]","[fake, new, mock, studded]"
154365,From ColumbusAlive.com,http://www.dispatch.com/content/stories/business/2014/05/21/0521-gm-expands-recall.html,Columbus Dispatch,t,dPPtdGXhK3rbHnMsFddsZ_twjWwvM,www.dispatch.com,1400693344346,2014-05-21 17:29:04.346,5,2,...,87,100,4.000000,1,,,,"[gm, recall, list]","[recall, add]","[more, late, old, last, legal, faulty]"
158546,From ColumbusAlive.com,http://www.dispatch.com/content/stories/business/2014/05/22/0522-McDonalds-faces-critics-at-annual-meeting.html,Columbus Dispatch,b,d-8KcZQg2n73wrMvmqQ1unt8d42DM,www.dispatch.com,1400816696018,2014-05-23 03:44:56.018,5,4,...,111,73,4.000000,1,,,,"[mcdonald, ceo, wage]","[arrest, lead]","[real, fast, annual]"
163454,S&P 500 above 1900,http://siouxcityjournal.com/business/s-p-closes-above-for-first-time/article_2e9ed71f-5bee-5c5f-bfbd-bb94e37ba7f7.html,Sioux City Journal,b,deZNJZ6HJbHr9xMJclJdFBMFF8oLM,siouxcityjournal.com,1400929885995,2014-05-24 11:11:25.995,5,5,...,118,72,5.000000,1,,,,"[us, stock, record]","[close, rise]","[first, high, new]"
178773,From ColumbusAlive.com,http://www.dispatch.com/content/stories/business/2014/06/02/apple-operating-system-mobile.html,Columbus Dispatch,t,d3JRy07lt3ILLKMBvRe1h07zhGLiM,www.dispatch.com,1401813708934,2014-06-03 16:41:48.934,6,1,...,94,282,4.000000,1,,,,"[apple, ios, wwdc]","[know, need]","[new, big, mobile]"
180644,What the...,http://blogtown.portlandmercury.com/BlogtownPDX/archives/2014/06/03/what-the,The Portland Mercury \(blog\),e,dJtvkAnrDy8NzWMU7mn9B_A4AwLAM,blogtown.portlandmercury.com,1401835332233,2014-06-03 22:42:12.233,6,1,...,76,41,3.500000,2,,,,"[trailer, hercules, dwayne]","[watch, release]",[new]
220882,From ColumbusAlive.com,http://www.dispatch.com/content/stories/business/2014/06/28/3-new-gm-recalls-tap-474000-vehicles.html,Columbus Dispatch,t,d16O9Wt5F_DlIBMO08s_B5AMaI40M,www.dispatch.com,1404084416878,2014-06-29 23:26:56.878,6,6,...,101,45,4.000000,1,,,,"[gm, recall, vehicle]","[recall, cover]","[new, faulty, additional, more]"
234955,www.womenhiv.org,http://www.digitaljournal.com/pr/2032095,DigitalJournal.com,m,dd3ogm5lDU_ad1MYflcGQ5VRlR1YM,www.digitaljournal.com,1404406734995,2014-07-03 16:58:54.995,7,3,...,40,17,0.000000,0,,,,"[hiv, dc, epidemic, case, aids]",[remain],"[new, likely]"
251694,That's all?,http://www.toledoblade.com/Editorials/2014/07/15/That-s-all-Justice-Department-announced-a-7-billion-settlement-of-an-investigation-of-Citigroup.html,Toledo Blade,b,do0zme6MejoNoKMapoWp_gZzo5KKM,www.toledoblade.com,1405431577079,2014-07-15 13:39:37.079,7,1,...,149,106,3.000000,3,,,,"[citigroup, mortgage, settlement]","[pay, settle]","[subprime, financial, federal, toxic, bad]"
259652,By: WENN.com,http://www.hollywood.com/news/brief/57196940/kanye-west-to-headline-both-made-in-america-festivals,Hollywood.com,e,dVolt6jKXo5Gq5Mz58bUK3tp57ePM,www.hollywood.com,1405651207043,2014-07-18 02:40:07.043,7,4,...,98,39,2.000000,1,,,,"[iggy, azalea, america]","[make, perform, add]",[jealous]
260777,From ColumbusAlive.com,http://www.dispatch.com/content/stories/business/2014/07/18/0718-Kia-recalls-nearly-52000-Souls-to-fix-steering.html,Columbus Dispatch,t,dV7rW-JW5w-LXmMqZjD3eY1ii0G3M,www.dispatch.com,1405706901472,2014-07-18 18:08:21.472,7,4,...,116,8,4.000000,1,,,,"[kia, soul, steering]","[recall, fix]",[]
260898,From ColumbusAlive.com,http://www.dispatch.com/content/stories/business/2014/07/18/0718-Mitsubishi-to-recall-cars-with-Takata-air-bags.html,Columbus Dispatch,t,dT3ahHbdTIuB7WMcEIjxkSo0fvGVM,www.dispatch.com,1405707504079,2014-07-18 18:18:24.079,7,4,...,116,16,4.000000,1,,,,"[bmw, takata, series, airbag]","[recall, say]",[special]
268459,Get On Up (2014),"http://www.ew.com/ew/article/0,,20483133_20838950,00.html",Entertainment Weekly,e,dBOFQibcfOojZfMuHSgxPHJT9imIM,www.ew.com,1406795307656,2014-07-31 08:28:27.656,7,3,...,57,55,2.333333,3,,,,"[brown, james, biopic]","[want, play, dance, bring]","[good, second, double]"
271730,Get On Up,http://www.westendword.com/Elist-11144.114137-12493.114137-Get-On-Up.html,West End Word,e,d_XoYRP3qF-MPtMK8-wTf_33fK5BM,www.westendword.com,1406872036070,2014-08-01 05:47:16.070,8,4,...,73,85,2.333333,3,,,,"[brown, james, boseman]","[make, bring]","[double, good]"
271740,How 'Get On Up' got done,http://www.13wmaz.com/story/entertainment/2014/07/31/how-get-on-up-got-done/13429443/,13WMAZ,e,d_XoYRP3qF-MPtMK8-wTf_33fK5BM,www.13wmaz.com,1406872040553,2014-08-01 05:47:20.553,8,4,...,85,85,2.500000,6,,,,"[brown, james, boseman]","[make, bring]","[double, good]"

In [42]:
data['transcript'] = data['transcript'].fillna('')

In [43]:
StoryDictWords = defaultdict(int)

def createDictOfDicts4(StoryList):
    for i in range(len(StoryList)):
        #print(i)
        
        # Get story of row
        story = data['STORY'].loc[i]
        
        # Create doc
        if data['transcript'].iloc[i] == data['transcript'].iloc[i]:
            doc = data['transcript'].iloc[i]

            if story in StoryDictWords:
                # Story has been created within StoryDict
                for word in doc.split():
                    if word in StoryDictWords[story]:
                        StoryDictWords[story][word] += 1
                    else:
                        StoryDictWords[story][word] = 1
            else:
                # Story dict will be created
                for word in doc.split():
                    StoryDictWords[story] = {}
                    StoryDictWords[story][word] = 1

In [44]:
createDictOfDicts4(StoryList)

In [45]:
# New empty dict
MostCommonWordsPerStory = {}

# Get top 3 words per story, add to MostCommonNounsPerStory
for story in StoryList1:
    #print(story, StoryDict[story])
    if StoryDictWords[story] != 0:
        storyCounter = Counter(StoryDictWords[story])
        MostCommonWordsPerStory[story] = []
        for k,v in storyCounter.most_common(3):
             if k not in MostCommonWordsPerStory[story]:
                MostCommonWordsPerStory[story].append(k)
                for key, value in storyCounter.items():
                    if v == value:
                        if key not in MostCommonWordsPerStory[story]:
                            MostCommonWordsPerStory[story].append(key)

In [46]:
data.head()

,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP,DateTime,month,weekday,...,countLetters,CountStory,AvgLengthWords,CountStopwords,nouns,verbs,adjectives,nounsPerStory,verbsPerStory,adjectivesPerStory
0,"Fed official says weak data caused by weather, should not slow taper","http://www.latimes.com/business/money/la-fi-mo-federal-reserve-plosser-stimulus-economy-20140310,0,1312750.story\?track=rss",Los Angeles Times,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.latimes.com,1394470370698,2014-03-10 16:52:50.698,3,0,...,123,6,4.583333,3,fed official datum weather taper,say cause slow,weak,"[fed, plosser, taper, charles, pace]",[fall],[]
1,Fed's Charles Plosser sees high bar for change in pace of tapering,http://www.livemint.com/Politics/H2EvwJSK2VE6OF7iK1g3PP/Feds-Charles-Plosser-sees-high-bar-for-change-in-pace-of-ta.html,Livemint,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.livemint.com,1394470371207,2014-03-10 16:52:51.207,3,0,...,120,6,4.083333,3,fed charles plosser bar change pace,see taper,high,"[fed, plosser, taper, charles, pace]",[fall],[]
2,"Fed risks falling 'behind the curve', Charles Plosser says",http://www.ifamagazine.com/news/fed-risks-falling-behind-the-curve-charles-plosser-says-294430,IFA Magazine,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.ifamagazine.com,1394470371793,2014-03-10 16:52:51.793,3,0,...,94,6,4.666667,1,fed curve charles plosser,risk fall say,,"[fed, plosser, taper, charles, pace]",[fall],[]
3,Fed's Plosser: Nasty Weather Has Curbed Job Growth,http://www.moneynews.com/Economy/federal-reserve-charles-plosser-weather-job-growth/2014/03/10/id/557011,Moneynews,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.moneynews.com,1394470372027,2014-03-10 16:52:52.027,3,0,...,104,6,5.125000,1,fed plosser nasty weather curbed job growth,,,"[fed, plosser, taper, charles, pace]",[fall],[]
4,Fed's Plosser: Taper pace may be too slow,http://www.marketwatch.com/story/feds-plosser-taper-pace-may-be-too-slow-2014-03-10\?reflink=MW_news_stmp,MarketWatch,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.marketwatch.com,1394470372405,2014-03-10 16:52:52.405,3,0,...,105,6,3.875000,2,fed plosser taper pace,,slow,"[fed, plosser, taper, charles, pace]",[fall],[]

##### Create column for top 3 words per STORY

In [47]:
data['wordsPerStory'] = data.apply(lambda row: MostCommonWordsPerStory[row.STORY] if row.STORY in MostCommonWordsPerStory.keys() else [], axis=1 )

### Create new dataframes with One-Hot-Encoded most occuring words (for dashboard)

#### 1. Words Per Story

In [48]:
def getAllValuesFromColumn(series):
    return(pd.Series([x for _list in series for x in _list]))

In [49]:
words = getAllValuesFromColumn(data["wordsPerStory"]).value_counts()

In [50]:
words = words[words >200]

In [51]:
words

Google       9264
US           9243
Apple        7754
Samsung      6008
Microsoft    5672
             ...
Choice        202
sanction      202
fruit         202
Morpheus      202
Hepatitis     201
Length: 985, dtype: int64

In [52]:
listOfWords = words.index.to_list()

In [53]:
words.index

Index(['Google', 'US', 'Apple', 'Samsung', 'Microsoft', 'Galaxy', 'China',
       'Kim', 'Kardashian', 'Facebook',
       ...
       'Sea', 'Costner', 'Icahn', 'threat', 'Eurovision', 'Choice', 'sanction',
       'fruit', 'Morpheus', 'Hepatitis'],
      dtype='object', length=985)

In [54]:
# Create a seperate dataframe
dataWordsPerStory = data[['TITLE','CATEGORY','date','wordsPerStory']]

In [55]:
dataWordsPerStory.head()

,TITLE,CATEGORY,date,wordsPerStory
0,"Fed official says weak data caused by weather, should not slow taper",b,2014-03-10 00:00:00.000,"[Fed, Plosser, taper]"
1,Fed's Charles Plosser sees high bar for change in pace of tapering,b,2014-03-10 00:00:00.000,"[Fed, Plosser, taper]"
2,"Fed risks falling 'behind the curve', Charles Plosser says",b,2014-03-10 00:00:00.000,"[Fed, Plosser, taper]"
3,Fed's Plosser: Nasty Weather Has Curbed Job Growth,b,2014-03-10 00:00:00.000,"[Fed, Plosser, taper]"
4,Fed's Plosser: Taper pace may be too slow,b,2014-03-10 00:00:00.000,"[Fed, Plosser, taper]"

In [56]:
for word in listOfWords:
    dataWordsPerStory[word] = dataWordsPerStory.apply(lambda row: 1 if word in row.wordsPerStory else 0, axis=1)

<ipython-input-56-6dce4b07403d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataWordsPerStory[word] = dataWordsPerStory.apply(lambda row: 1 if word in row.wordsPerStory else 0, axis=1)

In [57]:
dataWordsPerStory.head()

,TITLE,CATEGORY,date,wordsPerStory,Google,US,Apple,Samsung,Microsoft,Galaxy,...,Sea,Costner,Icahn,threat,Eurovision,Choice,sanction,fruit,Morpheus,Hepatitis
0,"Fed official says weak data caused by weather, should not slow taper",b,2014-03-10 00:00:00.000,"[Fed, Plosser, taper]",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Fed's Charles Plosser sees high bar for change in pace of tapering,b,2014-03-10 00:00:00.000,"[Fed, Plosser, taper]",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"Fed risks falling 'behind the curve', Charles Plosser says",b,2014-03-10 00:00:00.000,"[Fed, Plosser, taper]",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Fed's Plosser: Nasty Weather Has Curbed Job Growth,b,2014-03-10 00:00:00.000,"[Fed, Plosser, taper]",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Fed's Plosser: Taper pace may be too slow,b,2014-03-10 00:00:00.000,"[Fed, Plosser, taper]",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
dataWordsPerStory.to_csv("C:/Users/Meyke/Documents/news.csv/dataWordsPerStory.csv")

#### 2. Nouns Per Story

In [59]:
nouns = getAllValuesFromColumn(data["nounsPerStory"]).value_counts()

In [60]:
nouns = nouns[nouns >200]

In [61]:
listOfNouns = nouns.index.to_list()

In [62]:
# Create a seperate dataframe
dataNounsPerStory = data[['TITLE','CATEGORY','date','nounsPerStory']]

In [63]:
dataNounsPerStory.head()

,TITLE,CATEGORY,date,nounsPerStory
0,"Fed official says weak data caused by weather, should not slow taper",b,2014-03-10 00:00:00.000,"[fed, plosser, taper, charles, pace]"
1,Fed's Charles Plosser sees high bar for change in pace of tapering,b,2014-03-10 00:00:00.000,"[fed, plosser, taper, charles, pace]"
2,"Fed risks falling 'behind the curve', Charles Plosser says",b,2014-03-10 00:00:00.000,"[fed, plosser, taper, charles, pace]"
3,Fed's Plosser: Nasty Weather Has Curbed Job Growth,b,2014-03-10 00:00:00.000,"[fed, plosser, taper, charles, pace]"
4,Fed's Plosser: Taper pace may be too slow,b,2014-03-10 00:00:00.000,"[fed, plosser, taper, charles, pace]"

In [64]:
for noun in listOfNouns:
    dataNounsPerStory[noun] = dataNounsPerStory.apply(lambda row: 1 if noun in row.nounsPerStory else 0, axis=1)

<ipython-input-64-5e1f397963f9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataNounsPerStory[noun] = dataNounsPerStory.apply(lambda row: 1 if noun in row.nounsPerStory else 0, axis=1)

In [65]:
dataNounsPerStory.to_csv("C:/Users/Meyke/Documents/news.csv/dataNounsPerStory.csv")

#### 3. Verbs Per Story

In [66]:
verbs = getAllValuesFromColumn(data["verbsPerStory"]).value_counts()

In [67]:
verbs = verbs[verbs >200]

In [68]:
listOfVerbs = verbs.index.to_list()

In [69]:
# Create a seperate dataframe
dataVerbsPerStory = data[['TITLE','CATEGORY','date','verbsPerStory']]

In [70]:
for verb in listOfVerbs:
    dataVerbsPerStory[verb] = dataVerbsPerStory.apply(lambda row: 1 if verb in row.verbsPerStory else 0, axis=1)

<ipython-input-70-343b9edaa2b9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataVerbsPerStory[verb] = dataVerbsPerStory.apply(lambda row: 1 if verb in row.verbsPerStory else 0, axis=1)

In [71]:
dataVerbsPerStory.to_csv("C:/Users/Meyke/Documents/news.csv/dataVerbsPerStory.csv")

#### 4. Adjectives Per Story

In [72]:
adj = getAllValuesFromColumn(data["adjectivesPerStory"]).value_counts()

In [73]:
adj = adj[adj >200]

In [76]:
listOfAdj = adj.index.to_list()

In [74]:
# Create a seperate dataframe
dataAdjectivesPerStory = data[['TITLE','CATEGORY','date','adjectivesPerStory']]

In [77]:
for adj in listOfAdj:
    dataAdjectivesPerStory[adj] = dataAdjectivesPerStory.apply(lambda row: 1 if adj in row.adjectivesPerStory else 0, axis=1)

<ipython-input-77-af3fc2b1744d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataAdjectivesPerStory[adj] = dataAdjectivesPerStory.apply(lambda row: 1 if adj in row.adjectivesPerStory else 0, axis=1)

In [78]:
dataAdjectivesPerStory.to_csv("C:/Users/Meyke/Documents/news.csv/dataAdjectivesPerStory.csv")

In [79]:
data.to_csv("C:/Users/Meyke/Documents/news.csv/newsExtended2.csv")

## Create column with location if location is mentioned in Title

In [80]:
dataLoc = data[['TITLE','CATEGORY']]

In [81]:
# Function to get locations from TITLE
def preprocessVerb(text):
    # Create Doc object
    doc = nlp(text, disable=['parser'])
    location = [ent.text  for ent in doc.ents if ent.label_ == 'GPE']
    return(location)
  
# Apply preprocess to text
dataLoc['location'] = dataLoc['TITLE'].apply(preprocessVerb)
dataLoc.head()

<ipython-input-81-4859c0331d06>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataLoc['location'] = dataLoc['TITLE'].apply(preprocessVerb)

,TITLE,CATEGORY,location
0,"Fed official says weak data caused by weather, should not slow taper",b,[]
1,Fed's Charles Plosser sees high bar for change in pace of tapering,b,[]
2,"Fed risks falling 'behind the curve', Charles Plosser says",b,[]
3,Fed's Plosser: Nasty Weather Has Curbed Job Growth,b,[]
4,Fed's Plosser: Taper pace may be too slow,b,[]

In [82]:
dataLoc[dataLoc.location.astype(bool)]

,TITLE,CATEGORY,location
5,Fed's Plosser expects US unemployment to fall to 6.2% by the end of 2014,b,[US]
55,3 things to watch for as McDonald's fights to boost US sales,b,[US]
57,McDonald's February US sales chilled by weather,b,[US]
60,McDonald's US sales continue to struggle in February,b,[US]
61,$5 20-piece chicken nuggets didn't help McDonald's reverse US sales decline,b,[US]
...,...,...,...
281800,US Secretary Kerry On Intergovernmental Panel On Climate Change Report,t,[US]
281827,US DOE respond to IPCC report,t,[US]
281849,Greg Barker: UK renewables 'extremely attractive' for investors,t,[UK]
281857,UK government response to IPCC report,t,[UK]
281875,"U.S. urges IPCC to be less boring, try this whole online thing",t,[U.S.]

In [83]:
dataLoc.to_csv("C:/Users/Meyke/Documents/news.csv/locations.csv")